.pageContainer {
  max-width: 1800px;
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 0 25px;
  box-sizing: border-box;

  .originals {
    display: flex;
    padding: 0 25px;
    box-sizing: border-box;
  }

  .mix-container {
    margin-top: 150px;
  }

  .mix-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
