.tutorial {
  max-width: 750px;
  padding: 0 40px;
  margin: auto;
  .step {
    display: flex;
    margin-bottom: 50px;
    .image {
      width: 320px;
    }
  }
  .arian {
    font-weight: 700;
  }
  .content {
    width: 400px;
    padding: 0 25px;
    box-sizing: border-box;
  }
  .back-link {
    display: block;
    width: 80px;
    margin: 50px auto ;
    text-align: center;
    text-decoration: none;
    background: #515ada;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    &:hover {
      background: #338AFF;
    }
  }
}